.git
.gitignore
.github
.env
.env.*
!.env.example
sounds/
sounds_db.json
users.db
data/
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.idea/
.vscode/
*.md
!README.md
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.*.yml
